body{
  margin: 0px;
  background-image: url(".../src/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-attachment: scroll;

}
.header{
  padding: 10px 10px 10px 10px;
  margin: 0px;
  background-color: white;
}
.box{
  width: 50px;
  height: 35px;
  padding: 0px 10px 0px 0px;
  margin: 0px 0px 0px 0px;
  border: none;
  display: inline-block;
}
.icon-box{
  width: 100px;
}
.icon-box img{
  width: 100%;
  height: 100%;
  padding: 0px;
}
img{
  width: 100%;
  height: 100%;
  padding: 10px 10px 10px 10px;
  box-sizing: border-box;
  background-size: contain;
}
.multi-content-box{
  width: 630px;
  margin-left: 130px;
  padding-right: 0px;
}
.multi-content-box input{
  width: 90%;
  height: 100%;
  box-sizing: border-box;
  display: inline-block;
  float: left;
  padding-left: 5px;
  border: 1px solid gray;
}
.multi-content-box button{
  width: 10%;
  height: 100%;
  box-sizing: border-box;
  display: inline-flex;
  float: right;
  border: 1px solid gray;
  background: url("src/search.png") center center / 400px 200px contain no-repeat;
}
.list-box{
  width: 230px;
  list-style-type: none;
  display: inline-flex;
  margin-left: 80px;
}
#profilebtn{
  width: 80%;
  height: 100%;
  border-radius: 100% 100% 100% 100%;
  border: none;
  background: linear-gradient(105deg, purple 39%, rgba(51,56,57,1) 96%) center center / 400px 200px no-repeat;
  box-sizing: border-box;
  color: white;
  font-style: normal;
  font-size: 15px;
}
.box h1{
  writing-mode: vertical-rl;
  inline-size: 500px;
  block-size: 150px;
  border-inline: 2px solid red;
  border-block: 2px solid yellow;
  margin-inline: 50px;
  margin-block: 50px;
  padding-inline: 50px;
  padding-block: 20px;
}
.wrapper {
  font-size: 2em;
}

.px {
  width: 200px;
  border: 2px solid black;
  overflow: auto;
}

.vw {
  width: 10vw;
  border: 2px solid red;
  overflow: auto;
}

.em {
  width: 10rem;
  border: 2px solid yellow;
  overflow: auto;
}
